@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.bg-secondary {
  background-color: #DC143C;
}

.bg-secondary:hover {
  background-color: #FF475A;
}

.border-hover-theme:hover{
  border-color: #003893;
}

.mgt-n-15 {
  margin-top: -15px;
}

input::placeholder {
  color: oklch(0.551 0.027 264.364)
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

/* Optional: hide scrollbar entirely */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
